<div class="contenedor-acordeon slide d-none d-sm-block">
  <h2>Categorias</h2>
  <div class="acordeon-card">
    <div class="acordeon">
      <input type="checkbox" name="acordeon" id="btn-acordeon1" class="btn-acordeon">
      <label for="btn-acordeon1">
        <i class="bi bi-archive"> Collares, Manillas y Pendientes</i>        
      </label>
      <div class="contenido-acordeon">
        <ul class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Collares</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Manillas</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Pendientes</a></li>
      </ul>
      </div>
    </div>
    <div class="acordeon">
      <input type="checkbox" name="acordeon" id="btn-acordeon2" class="btn-acordeon">
      <label for="btn-acordeon2">
        <i class="bi bi-bullseye"> Bolsos, Tejidos y Trajes</i>
      </label>
      <div class="contenido-acordeon">
        <ul class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Bolsos</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Tejidos</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Trajes</a></li>
        </ul>
      </div>
    </div>
    <div class="acordeon">
      <input type="checkbox" name="acordeon" id="btn-acordeon3" class="btn-acordeon">
      <label for="btn-acordeon3">
        <i class="bi bi-bag-check-fill"> Ceramica, Sombreros y calsado</i>
      </label>
      <div class="contenido-acordeon">
        <ul class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Ceramica</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Sombreros</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">calsado</a></li>
        </ul>
      </div>
    </div>
    <div class="acordeon">
      <input type="checkbox" name="acordeon" id="btn-acordeon4" class="btn-acordeon">
      <label for="btn-acordeon4">
        <i class="bi bi-bank"> Poncho, Pinturas y Joyería</i>
      </label>
      <div class="contenido-acordeon">
        <ul class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Poncho</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Pinturas</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Joyería</a></li>
        </ul>
      </div>
    </div>
    <div class="acordeon">
      <input type="checkbox" name="acordeon" id="btn-acordeon5" class="btn-acordeon">
      <label for="btn-acordeon5">
        <i class="bi bi-bar-chart-steps"> Iraca, Totumo y Fibras</i>
      </label>
      <div class="contenido-acordeon">
        <ul class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Iraca</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Totumo</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Fibras</a></li>
        </ul>
      </div>
    </div>
    <div class="acordeon">
      <input type="checkbox" name="acordeon" id="btn-acordeon6" class="btn-acordeon">
      <label for="btn-acordeon6">
        <i class="bi bi-bicycle"> Correas, Agendas, Telas, Figuras, Adornos y Cuadros</i>
      </label>
      <div class="contenido-acordeon">
        <ul class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Correas</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Agendas</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Telas</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Figuras</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Adornos</a></li>
          <a href="#" class="list-group-item list-group-item-action" style="font-size: 14px;">Cuadros</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="btn-group d-sm-none" role="group" aria-label="Basic outlined example">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="dropdown" aria-expanded="false">
      Jolleria
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Collares</a></li>
      <li><a class="dropdown-item" href="#">Manillas</a></li>
      <li><a class="dropdown-item" href="#">Pendientes</a></li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="dropdown" aria-expanded="false">
      Accesirios
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Bolsos</a></li>
      <li><a class="dropdown-item" href="#">Tejidos</a></li>
      <li><a class="dropdown-item" href="#">Trajes</a></li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="dropdown" aria-expanded="false">
      Adornos
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Ceramica</a></li>
      <li><a class="dropdown-item" href="#">Sombreros</a></li>
      <li><a class="dropdown-item" href="#">Calsado</a></li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="dropdown" aria-expanded="false">
      Otros
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Ponchos</a></li>
      <li><a class="dropdown-item" href="#">Pinturas</a></li>
      <li><a class="dropdown-item" href="#">Jolleria</a></li>
      <li><a class="dropdown-item" href="#">Materiales</a></li>
      <li><a class="dropdown-item" href="#">Adornos</a></li>
    </ul>
  </div>
</div>