 <!-- Slider para pantalla grande --> 
<div id="carouselExampleControl" class="carousel carousel-dark slide d-none d-sm-block" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <div class="cards-wrapper">
                <div class="card">                                       
                            <div class="image-wrapper">
                              <img src="/media/images/SET-MANILLAS-COLOMBIANA.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>                     
                </div>
                <div class="card">                    
                            <div class="image-wrapper">
                              <img src="/media/images/Banner3.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>
                </div>
                <div class="card">                                          
                            <div class="image-wrapper">
                              <img src="/media/images/Banner5.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>                        
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div class="cards-wrapper">
                <div class="card">                                       
                            <div class="image-wrapper">
                              <img src="/media/images/SET-MANILLAS-COLOMBIANA.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>                     
                </div>
                <div class="card">                    
                            <div class="image-wrapper">
                              <img src="/media/images/Banner3.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>
                </div>
                <div class="card">                                          
                            <div class="image-wrapper">
                              <img src="/media/images/Banner5.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>                        
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">                     
                            <div class="image-wrapper">
                              <img src="/media/images/Banner5.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>                        
                </div>
                <div class="card">                      
                            <div class="image-wrapper">
                              <img src="/media/images/SET-MANILLAS-COLOMBIANA.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>                        
                </div>
                <div class="card">
                            <div class="image-wrapper">
                              <img src="/media/images/Banner3.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControl" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControl" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

 <!-- slider para pentallas de celular --> 
<div id="carouselExampleControlSmall" class="carousel slide carousel-dark d-sm-none" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <div class="cards-wrapper">
                <div class="card">                    
                            <div class="image-wrapper">
                              <img src="/media/images/SET-MANILLAS-COLOMBIANA.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>  
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div class="cards-wrapper">
                <div class="card">
                            <div class="image-wrapper">
                              <img src="/media/images/Banner3.jpg" class="imm" alt="...">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                            </div>
                            <div class="card-body">
                              <button type="button" class="btn btn-primary">Detalle</button>
                              <button type="button" class="btn btn-success">Agregar al carro</button>
                            </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                <div class="card">                  
                        <div class="image-wrapper">
                              <img src="/media/images/Banner5.jpg" class="imm" alt="...">
                        </div>
                        <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the.</p>
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Detalle</button>
                          <button type="button" class="btn btn-success">Agregar al carro</button>
                        </div>    
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlSmall" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlSmall" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>