<div class="slider-box">
    <ul>
        <li>
            <img src="/media/images/banner.jpg" alt="">                
            <div class="texto capa">
                <h2>Collares</h2>
                <p>Buenas promociones</p>
                <a href="#" id="download">Download</a>
            </div>
        </li>
        <li>
            <img src="/media/images/Banner2.jpg" alt="">
            <div class="texto capa">
                <h2>Vajillas</h2>
                <p>Buenas promociones</p>
                <a href="#" id="download">Download</a>
            </div>
        </li>
        <li>
            <img src="/media/images/Banner3.jpg" alt="">
            <div class="texto capa">
                <h2>Bolsos</h2>
                <p>Buenas promociones</p>
                <a href="#" id="download">Download</a>
            </div>
        </li>
        <li>
            <img src="/media/images/Banner4.jpg" alt="">
            <div class="texto capa">
                <h2>Variedad de articulos</h2>
                <p>Buenas promociones</p>
                <a href="#" id="download">Download</a>
            </div>
        </li>
    </ul>
</div>