<div class="row">
    <nav class="navbar" style="background-color: #fdfdfd;">
        <div class="container-fluid">                
            <a class="navbar-brand" href="#">
                <img src="/media/images/icons8-genio-128.png" alt="Logo" width="50" height="50">
                <h2 class="d-inline-block align-text-top">Bootstrap</h2>
            </a>  
    <!-- iconos en redes sociales -->               
            <form class="d-flex" role="search">
                <a href="#" class="btn btn-primary me-2" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="btn btn-success me-2" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a href="#" class="btn btn-danger me-2" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram"></i>
                </a>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav> 
    <nav class="navbar navbar-expand-lg " style="background-color: #fdfdfd;"">            
        <div class="container-fluid">
            <a class="navbar-brand btn btn-outline-success me-2 " href="#">Galeria</a>
<!-- Boton para ver menu de navegación cuando la ventana de encoje con lo minimo -->               
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>                    
<!-- Navegación -->           
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">                        
                    <li class="nav-item">
                        <a class="nav-link"  href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mega menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pages</a>
                    </li>
                </ul>
            </div>                
        </div>            
    </nav>    
</div>